@model Garage25.Models.Person
@{
    ViewBag.Title = "CheckOut Before Member Remove";
}

<h2>CheckOut all Vehicles before Removal of Member</h2>

<p>The following Parked Vehicles must be be CheckOuted before @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) can be removed as member</p>
<table class="table">
    <tr>
        <th>
            Registration Number:
        </th>
      </tr>
    
        @foreach (var item in Model.ParkedVehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
            </tr>
        }          

</table>
        <input type="button" value="Back to CheckIn/CheckOut" class="btn btn-default" onclick="location.href='@Url.Action("Index","ParkedVehicles")'" />

